language: python
python:
  - 2.7.15
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
install:
  - pip install --upgrade pip
  - pip -V
  - pip install -r requirements.txt
before_script:
  - wget "http://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip"
  - unzip chromedriver_linux64.zip
  - sudo mv chromedriver /usr/local/bin
script:
  - pybot test.robot
notifications:
  email:
    - boly38@gmail.com
